@font-face {
    font-family: RedOctober;
    src: url("../../utils/fonts/RedOctober.ttf") format("truetype");
}

.header{
    grid-area: h;
    background-color: grey;
}
.text{
    font-family: RedOctober;
    padding: 10px;
    color:#e63232;
}

.text2{
    font-family: RedOctober;
    position: relative;
    transition: 0.5s;
}
.text2:hover{
    color:#e63232;
}
.loginBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}
a{
    color:white;
}